.hero {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 6rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 0;


  h1 {
    margin: 0;
    font-weight: 600;
    line-height: 38px;

  }

  img {
    max-width: 90px;
  }
}


