$viewport-size-details-overlay: "md";
$viewport-size-details-overlay-lg: "xl";
$number-card-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);

.number-card {
  // box-shadow: $number-card-box-shadow;
  position: relative;

  &.has-details {
    .card {
      border-bottom: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      background: white;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border: none;
    }
  }

  @include media-breakpoint-up($viewport-size-details-overlay-lg){
    .col-xl-3 {
      flex: 0 0 20% !important;
      max-width: 20% !important;
  }
  }

  @include media-breakpoint-up($viewport-size-details-overlay) {
    flex: 1 1 auto;

    &.has-details {
      margin-bottom: 53px; // height of collapsed .card-footer
    }
  }

  .card-title {
    font-size: 2.5rem;
    font-weight: 700;
    // font-family: $font-family-monospace;
    color: var(--unnamed-color-3e4b80);
  }

  .card-body {
    .fa {
      color: var(--unnamed-color-3e4b80);
      // font-size: $font-size-lg;
      font-size: 34px;
      border-radius: 100%;
      width: 3.75rem;
      height: 3.75rem;
    }
    .card-text {
      color: var(--unnamed-color-3e4b80);
      font-weight: 500;
    }
  }

  .card-footer {
    position: relative;
    font-size: $font-size-sm;
    background: $white;
    padding: 0;
    border: none !important;
    border-radius: 0 !important;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    @include border-radius($card-border-radius);

    @include media-breakpoint-up($viewport-size-details-overlay) {
      & {
        position: absolute;
        z-index: $zindex-dropdown;
        top: 100%;
        width: 100%;
        // box-shadow: $number-card-box-shadow;
      }
    }

    .toggle-collapse {
      padding: 1rem 1.25rem;
      font-weight: 600;
      color: var(--unnamed-color-3e4b80);
      font-size: $font-size-sm;
      text-decoration: none;
      justify-content: flex-end;

      .fa {
        font-size: 1rem;
        /* transform: rotate(270deg); */
        margin-top: 4px;
        color: var(--unnamed-color-2ce4b4);
      }

      &:hover,
      &:focus {
        .details-btn-text {
          text-decoration: underline;
        }
      }
    }

    .footer-body {
      .btn {
        display: block;
        width: 100%;
        font-size: $font-size-sm;
        padding: 0.5rem 1.25rem;
        text-align: left;
        text-decoration: none;
        border-radius: 0;
        justify-content: space-between;
        align-content: center;

        &:hover {
          background: $info-100;
        }

        &:focus {
          box-shadow: $input-btn-focus-box-shadow;
        }

        &.active {
          background: $info-100;
        }

        span.label {
          white-space: normal;
        }
      }
    }
  }
}
