.analytics-page{
    .error-container{
        height:300px;
        .error-message{
            color:var(--unnamed-color-bdc7e8);
            font-size:24px;
            font-weight: 500;
        }
    }

    .stats-card-title{
        font-weight: 600;
        color:var(--unnamed-color-3e4b80);

    }
}