.analytics-page{
    .error-container{
        height:300px;
        .error-message{
            color:var(--unnamed-color-bdc7e8);
            font-size:24px;
            font-weight: 500;
        }
    }
}